<% if reported_messages && reported_messages.any? %>

<table class="list boards">
        <thead><tr>
        <th><%=l(:label_board)%></th>
        <th><%=l(:label_message_plural)%></th>
        <th><%=l(:label_preview)%></th>
        </tr></thead>
        <tbody>
        <% for message in reported_messages %>
        <tr class="hascontextmenu <%= cycle('odd', 'even') %> ">
          <td>
            <%= h(message.board.name) %>
          </td>
          <td>
             <%= link_to h(truncate(message.subject, :length => 20)), {:controller => 'messages', :action => 'show', :board_id => message.board_id, :id => message.root, :anchor => (message.parent_id ? "message-#{message.id}" : nil)}  %>
             <br> <%= format_time(message.updated_on) %>
          </td>
          <td><%= h(truncate(message.content, :length => 30)) %> </td>
        </tr>
        <% end %>
        </tbody>
</table>
<% else %>
        <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

