<%
  scope = Project
  unless params[:closed]
    scope = scope.active
  end
  @projects = scope.visible.order('lft').all
%>


<h3><%=l(:label_project_plural)%></h3>

<table class="list">
  <thead><tr>
  <th><%=l(:label_project)%></th>
  <th>activity</th>
  <th>ticket</th>
  <th>gantt</th>
  <th>wiki</th>
  </tr></thead>
  <tbody>
<% project_tree(@projects) do |project, level| %>
  <tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
  <td class="name"><span><%= link_to(project.name, { :controller => 'projects', :action => 'show', :id => project }) %></span></td>
  <td class=""><span><%= link_to(l(:label_activity), { :controller => 'projects', :action => 'show', :id => project }) %></span></td>
  <td class=""><span><%= link_to(l(:label_issue), { :controller => 'issues', :action => 'index', :project => project }) %></span></td>
  <td class=""><span><%= link_to(l(:label_gantt), { :controller => 'gantts', :action => 'show', :project => project }) %></span></td>
  <td class=""><span><%= link_to(l(:label_wiki), { :controller => 'wiki', :action => 'show', :project_id => project, }) %></span></td>
  </tr>
<% end %>
  </tbody>
</table>
